@tailwind base;
@tailwind components;
@tailwind utilities;

.h2 {
	color: white;
	font-size: 1.5rem;
	margin-left: 10px;
	font-weight: bold;
}

.mx-auto {
	/* margin-left: auto; */
	margin-right: auto;
}

.max-w-7xl {
	max-width: 100rem;
}

.bg-gray-800 {
	position: fixed;
	width: 100%;
}

.group {
	background: white;
	border-radius: 10px;
	padding: 13px;
	box-shadow: rgb(84 84 84 / 20%) 0px 2px 8px 0px;
	max-width: 320px !important;
}
.group img {
	max-width: 220px;
}
.white {
	margin-left: 40px;
	max-width: 250px;
	background: white;
}
.grid {
	align-items: start;
}

.wid {
	max-width: 100% !important;
}

/* ////Product page styling */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	display: flex;
}

/* Columns */
.left-column {
	width: 65%;
	position: relative;
	top: 24px;
}

.right-column {
	width: 35%;
	margin-top: 60px;
}

/* Left Column */
.left-column img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.3s ease;
}
.left-column img {
	width: 400px;
	margin-top: 100px;
	margin-left: 70px;
	z-index: -1;
}

.left-column img.active {
	opacity: 1;
}

/* Right Column */

/* Product Description */
.product-description {
	border-bottom: 1px solid #e1e8ee;
	margin-bottom: 20px;
}
.product-description span {
	font-size: 12px;
	color: #358ed7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}
.product-description h1 {
	font-weight: 300;
	font-size: 40px;
	color: #43484d;
	letter-spacing: -1px;
	font-weight: 500;
	padding-bottom: 15px;
}
.product-description p {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
	font-size: 14px;
	font-weight: 400;
	color: #86939e;
	margin-bottom: 20px;
	display: inline-block;
}

/* Product Color */
.product-color {
	margin-bottom: 30px;
}

.color-choose div {
	display: inline-block;
}

/* Cable Configuration */
.cable-choose {
	margin-bottom: 20px;
}

.cable-choose button {
	border: 2px solid #e1e8ee;
	border-radius: 6px;
	padding: 13px 20px;
	font-size: 14px;
	color: #5e6977;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
	border: 2px solid #86939e;
	outline: none;
}

.cable-config {
	border-bottom: 1px solid #e1e8ee;
	margin-bottom: 20px;
}

.cable-config a {
	color: #358ed7;
	text-decoration: none;
	font-size: 12px;
	position: relative;
	margin: 10px 0;
	display: inline-block;
}
.cable-config a:before {
	content: "?";
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 2px solid rgba(53, 142, 215, 0.5);
	display: inline-block;
	text-align: center;
	line-height: 16px;
	opacity: 0.5;
	margin-right: 5px;
}

/* Product Price */
.product-price {
	display: flex;
	align-items: center;
}

.product-price span {
	font-size: 26px;
	font-weight: 300;
	color: #43474d;
	margin-right: 20px;
}

.cart-btn {
	display: inline-block;
	background-color: #6366f1;
	border-radius: 6px;
	font-size: 19px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 22px;
	transition: all 0.3s;
}

.cart-btn:hover {
	background-color: #3e40be;
}

/* Responsive */
/* @media (max-width: 940px) {
	.container {
		flex-direction: column;
		
	}

	.left-column,
	.right-column {
		width: 100%;
	}

	.left-column img {
		width: 300px;
		right: 0;
		top: -65px;
		left: initial;
	}
} */

@media (max-width: 535px) {
	.left-column img {
		width: 220px;
		top: -85px;
	}
}

.tag {
	font-size: 1.2rem;
	font-weight: 500;
}
.cable-config h3 {
	margin-top: 15px;
}
.right-column {
	margin-top: 75px;
}
.price {
	font-size: 30px;
	color: #43484d;
	font-weight: 600;
	margin-right: 10px;
}

/* success message */
.view {
	display: flex;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	background-color: lightgreen;
	margin-top: 15px;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.view h2 {
	padding: 4px;
	margin-left: 12px;
}
.h-6 {
	height: 2rem;
}
.w-6 {
	width: 2.5rem;
}
.none {
	display: none;
}

.mains {
	margin-top: 50px;
}

.full-width {
	margin-top: 100px !important;
	max-width: 100%;
	margin: 0 auto;
	/* padding: 15px; */
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
}
.left-cart h1 {
	font-size: 1.7rem;
	font-weight: bold;
	color: #1f2937;
	margin-left: 20px;
}

.trashicon {
	width: 30px;
	transition: all 0.3s;
}
.trashicon:hover {
	cursor: pointer;
	width: 32px;
}

.leftside {
	display: flex;
}
.mf {
	justify-content: space-between;
	padding: 15px;
}
.leftside img {
	max-width: 130px !important;
}
.chota {
	max-width: 350px;
}
.mar {
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.bold {
	font-weight: bold;
	font-size: 1.2rem;
}

.bill-head {
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
}

.margin {
	margin-right: 145px;
}
.full {
	width: 100%;
}
.right-cart {
	width: 25%;
}

/* succes message */
#card {
	/* position: relative; */
	width: 320px;
	/* display: block; */
	margin: 40px auto;
	text-align: center;
	/* top: 200 px; */
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#upper-side {
	padding: 2em;
	background-color: #6366f1;
	display: block;
	color: #fff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#checkmark {
	font-weight: lighter;
	fill: #fff;
	margin: -3.5em auto auto 20px;
}

#status {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
	margin-top: 0.1em;
	margin-bottom: 0;
}

#lower-side {
	padding: 2em 2em 2em 2em;
	background: #fff;
	display: block;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#message {
	margin-top: -0.5em;
	color: #757575;
	letter-spacing: 1px;
}

#contBtn {
	position: relative;
	top: 2.5em;
	text-decoration: none;
	background: #6366f1;
	color: #fff;
	margin: auto;
	padding: 0.8em 3em;
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	border-radius: 25px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#contBtn:hover {
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.bye {
	margin-top: 45px;
	padding: 10px;
}

.rt-container {
	padding-top: 170px;
}
.emp {
	background-color: rgb(255, 101, 101) !important;
}
/* .group img:hover {
	z-index: -1 !important;
} */
/* .group:hover {
	z-index: 0 !important;
} */
nav {
	z-index: 1;
}
.upar {
	padding-top: 6px;
}

@media (max-width: 640px) {
	nav {
		z-index: 1;
	}
	.upar {
		padding-top: 1px;
	}
	.full-width {
		flex-direction: column;
	}
	.right-cart {
		width: 100%;
	}
	.left-cart {
		width: 112%;
		margin-right: 15px;
		margin-left: -20px;
	}
	.mf {
		display: flex;
	}
	.car {
		margin-right: 30px;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.right-column {
		width: 100%;
		margin-top: 380px;
	}
	.left-column img {
		padding-top: 53px;
	}
}

/* loading  */

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #6366f1;
	border-color: #6366f1 transparent #6366f1 transparent;
	animation: lds-dual-ring 0.7s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading {
	margin: auto;
	padding-top: 220px;
	padding-left: 50em;
}
